{% extends "news/base.html" %}
{% load jalali_tags %}
{% load static %}

{% block page_title %}
    بروزرسانی خبر
{% endblock page_title %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
{% endblock page_css %}

{% block content %}

	<div class="form-group m-5">
    <form method="POST">
    			{% csrf_token %}
    			{{ form.as_p }}
          <button type="submit" class="save btn btn-info col text-white">ویرایش</button>
          <a href="{% url 'delete_content' content.pk %}" class="btn btn-danger col">حذف</a>
    </form>
  </div>
  		{{ form.media }}
{% endblock content %}

{% block page_script %}
	<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock page_script %}
